#hero-section {
    height: 93vh;
}

#hero-section .container {
    height: 100%;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.content h1 {
    font-weight: bold;
    font-size: 48px;
}

.content p:nth-of-type(1) {
    font-size: 30px;
    color: rgb(119, 119, 119);
    white-space: nowrap;
    overflow: hidden;
    font-weight: 800;
}



.content p:nth-of-type(2) {
    font-size: 16px;
    color: rgb(139, 139, 139);
}


.content button {
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
}

.content button:after {
    position: absolute;
    content: " ";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(315deg, #510303 0%, #ae1818 74%);
    transition: all 0.3s ease;
}

.content button:hover {
    background: transparent;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    color: #fff;
}

.content button:hover:after {
    -webkit-transform: scale(2) rotate(180deg);
    transform: scale(2) rotate(180deg);
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

.pic {
    text-align: center;
    width: 40%;
}

.pic img {
    border-radius: 50%;
    width: 80%;
    box-shadow: 0px 1px 20px 4px #616060;
    animation: pulse 3s ease-in-out infinite;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}



/* ----------------------------  Responsive  ---------------------------- */

@media (max-width: 576px) {
    .hero {
        flex-direction: column;
        justify-content: center;
    }

    .content h1 {
        font-size: 26px;
    }

    .content p:nth-of-type(1) {
        font-size: 22px;
    }

    .content button {
        padding: 10px;
        font-size: 14px;
    }

    .pic {
        text-align: center;
        width: 70%;
        order: -1;
        padding-bottom: 110px;
    }

    .pic img {
        width: 80%;
    }
}